:root {
  --light-grey: #f5f6f7;
  --dark-blue: #0a0a23;
  --gradient-background: linear-gradient(to right, #d1e8ff, #a3c6ff);
  --light-yellow: #fecc4c;
  --dark-yellow: #feac32;
  --light-pink: #ffadad;
  --dark-red: #850000;
  --light-green: #acd157;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  background: var(--gradient-background);
  color: var(--dark-blue);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  color: white;
  background-color: #0073e6;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  width: 90%;
  max-width: 680px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label,
legend {
  font-weight: bold;
  padding: 5px;
  color: #333333;
}

.input-container {
  display: flex;
  flex-direction: column;
}

button {
  font-size: 80%;
  cursor: pointer;
  background-color: #0073e6;
  border: none;
  border-radius: 2rem;
  color: #f5f6f7;
  padding: 10px 20px;
  margin: 5px;
  transition: background-color 0.3s ease; /* Dodajemy płynne przejście zmiany koloru */
}

button:hover {
  background-color: #0056b3; /* Nowy kolor po najechaniu */
}

button[type="submit"] {
  background-color: #28a745; /* Zielony dla przycisku submit */
}

button[type="button"]:not(#add-entry) {
  background-color: #dc3545; /* Czerwony dla przycisku clear */
}

button[type="submit"]:hover {
  background-color: #218838; /* Bardziej zielony po najechaniu */
}

button[type="button"]:not(#add-entry):hover {
  background-color: #c82333; /* Bardziej czerwony po najechaniu */
}

fieldset {
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
}

fieldset legend {
  font-size: 1.2em;
  color: #0073e6;
}

.output {
  border: 2px solid var(--light-grey);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #f5f6f7;
}

.output span {
  font-weight: bold;
  font-size: 1.5em;
}

.output hr {
  margin: 10px 0;
}

.hide {
  display: none;
}

.surplus {
  color: var(--light-pink);
}

.deficit {
  color: var(--light-green);
}

.controls span {
  display: flex;
  align-items: center;
}

.controls select, 
.controls button {
  margin-left: 10px;
}